{% extends 'music/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div>
        <div class="col-md-12" style="margin: 3%;">
            <div class="row" style="margin: 3%;">
                {% for item in bookmark_list %}
                    <div class="card bg-dark text-white text-center" style="width: 18rem; margin:3%">
                        {% comment %} <img src="{{ item.cover.url }}" class="card-img-top" alt="..."> {% endcomment %}
                        <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'bookmark_detail' item.id %}" class="btn btn-dark">{{ item.name }}</a></h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}