{% extends 'music/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div>
        <div class="card bg-dark text-white text-center m-5">
            <div class="row no-gutters">
                {% if object.cover %}
                <div class="col-auto p-5">
                    <img src="{{ object.cover.url }}" class="img-fluid" alt="">
                </div>
                {% else %}

                {% endif %}
                <div class="col">
                    <div class="card-block p-3">
                        <h4 class="card-title"><a href="{{ object.url }}" class="btn btn-dark">{{ object.name}}</a></h4>
                        <p class="card-subtitle">{{ object.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}